<div class="card">
    <div class="card-header text-center">
        <span style="font-weight: bold; font-size:xx-large;" class="text-success">Exceutive Members</span>
    </div>
</div>
    <div class="row" style="width: 90%;">
        <div  *ngFor="let item of allMembers; let i = index;">
            <div *ngIf="i % 3 === 0" fxLayout="row">
                <div class="col-4"  *ngIf="allMembers[i]">
                    <div class="member-container">
                        <div>
                            <div class="card-img">
                                <img  src="assets/images/guru2.jpg" class="member-image"/>
                            </div>
                        </div>
                        <div class="details">
                            <div class="card-header">
                                <h2>{{allMembers[i]?.designation}}</h2>
                            </div>
                            <div class="card-body member-body">
                                <h3>{{allMembers[i]?.firstName}} {{allMembers[i]?.lastName}}</h3>
                                <h2 style="margin-bottom: 2px;">Residence Address</h2>
                                <h5>{{allMembers[i].address}}</h5>
                                <h5><i class="fa fa-mobile fa-border"></i> {{allMembers[i]?.phoneNumber}}</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-4" *ngIf="allMembers[i+1]">
                    <div class="member-container">
                        <div>
                            <div class="card-img">
                                <img  src="assets/images/guru2.jpg" class="member-image"/>
                            </div>
                        </div>
                        <div class="details">
                            <div class="card-header">
                                <h2>{{allMembers[i+1]?.designation}}</h2>
                            </div>
                            <div class="card-body member-body">
                                <h3>{{allMembers[i+1]?.firstName}} {{allMembers[i+1]?.lastName}}</h3>
                                <h2 style="margin-bottom: 2px;">Residence Address</h2>
                                <h5>{{allMembers[i+1].address}}</h5>
                                <h5><i class="fa fa-mobile fa-border"></i> {{allMembers[i+1]?.phoneNumber}}</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-4"  *ngIf="allMembers[i+2]">
                    <div class="member-container">
                        <div>
                            <div class="card-img">
                                <img  src="assets/images/guru2.jpg" class="member-image"/>
                            </div>
                        </div>
                        <div class="details">
                            <div class="card-header">
                                <h2>{{allMembers[i+2]?.designation}}</h2>
                            </div>
                            <div class="card-body member-body">
                                <h3>{{allMembers[i+2]?.firstName}} {{allMembers[i+2]?.lastName}}</h3>
                                <h2 style="margin-bottom: 2px;">Residence Address</h2>
                                <h5>{{allMembers[i+2].address}}</h5>
                                <h5><i class="fa fa-mobile fa-border"></i> {{allMembers[i+2]?.phoneNumber}}</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


