<div class="container">
    <h1>Gallery</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="gallery-item">
          <img src="https://picsum.photos/400/300" alt="Image 1">
        </div>
      </div>
      <div class="col-md-4">
        <div class="gallery-item">
          <img src="https://picsum.photos/400/300" alt="Image 2">
        </div>
      </div>
      <div class="col-md-4">
        <div class="gallery-item">
          <img src="https://picsum.photos/400/300" alt="Image 3">
        </div>
      </div>
      <!-- Add more col-md-4 divs for additional images -->
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="gallery-item">
            <img src="https://picsum.photos/400/300" alt="Image 1">
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <img src="https://picsum.photos/400/300" alt="Image 2">
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <img src="https://picsum.photos/400/300" alt="Image 3">
          </div>
        </div>
        <!-- Add more col-md-4 divs for additional images -->
      </div>
  </div>
