ngb-carousel {
    height: 60vh !important;
    display: 100%;
    text-align: center;
    display: flex !important
}
.guruDevaContainer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    .card{
        margin: 5px;
        height: 15rem;
        max-width: 40rem !important;
    }
}
