<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="card-img" src="assets/images/guru.jpg" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>GURUDEVA YOUTH MOVEMENT</h3>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="card-img"  src="assets/images/guru1.jpg" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>GURUDEVA YOUTH MOVEMENT</h3>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="card-img"  src="assets/images/guru2.jpg" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>GURUDEVA YOUTH MOVEMENT</h3>
		</div>
	</ng-template>
</ngb-carousel>
<div fxLayout="row" fxLayoutAlign="center">
	<div class="card text-white bg-primary m-3">
		<div class="card-header">SreeNarayana Guru More..</div>
		<div class="card-body">
		  <h4 class="card-title">SreeNarayana Guru More..</h4>
		  <p class="card-text mb-3">"മാറ്റുവിൻ ചട്ടങ്ങളെ സ്വയമല്ലെങ്കിൽ മാറ്റുമതുകളീ നിങ്ങളെത്താൻ" S N D P യോഗത്തിൻ്റെ ആദ്യ സെക്രട്ടറി മഹാകവി കവി കുമാരനാശാൻ്റെ വരികളാണ്...
			2022 ഡിസംബർ 16- ആം തീയതി ശ്രീ സുധാകരൻ സാറിൻ്റെ നേതൃത്വത്തിൽ മേലതിൽകാവ് ക്ഷേത്ര ഹാളിൽ വെച്ച് കൂടിയ മീറ്റിംഗിൽ യൂത്ത് മൂവ്മെൻ്റ് രൂപീകരിച്ചു.....
			</p>
		</div>
	</div>
	<div class="card text-white bg-success m-3">
		<div class="card-header">SreeNarayana Guru More..</div>
		<div class="card-body">
		  <h4 class="card-title">SreeNarayana Guru More..</h4>
		  <p class="card-text">"മാറ്റുവിൻ ചട്ടങ്ങളെ സ്വയമല്ലെങ്കിൽ മാറ്റുമതുകളീ നിങ്ങളെത്താൻ" S N D P യോഗത്തിൻ്റെ ആദ്യ സെക്രട്ടറി മഹാകവി കവി കുമാരനാശാൻ്റെ വരികളാണ്...
			2022 ഡിസംബർ 16- ആം തീയതി ശ്രീ സുധാകരൻ സാറിൻ്റെ നേതൃത്വത്തിൽ മേലതിൽകാവ് ക്ഷേത്ര ഹാളിൽ വെച്ച് കൂടിയ മീറ്റിംഗിൽ യൂത്ത് മൂവ്മെൻ്റ് രൂപീകരിച്ചു.....
			</p>
		</div>
	</div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
	<div class="card text-white bg-primary m-3">
		<div class="card-header">SreeNarayana Guru More..</div>
		<div class="card-body">
		  <h4 class="card-title">SreeNarayana Guru More..</h4>
		  <p class="card-text mb-3">"മാറ്റുവിൻ ചട്ടങ്ങളെ സ്വയമല്ലെങ്കിൽ മാറ്റുമതുകളീ നിങ്ങളെത്താൻ" S N D P യോഗത്തിൻ്റെ ആദ്യ സെക്രട്ടറി മഹാകവി കവി കുമാരനാശാൻ്റെ വരികളാണ്...
			2022 ഡിസംബർ 16- ആം തീയതി ശ്രീ സുധാകരൻ സാറിൻ്റെ നേതൃത്വത്തിൽ മേലതിൽകാവ് ക്ഷേത്ര ഹാളിൽ വെച്ച് കൂടിയ മീറ്റിംഗിൽ യൂത്ത് മൂവ്മെൻ്റ് രൂപീകരിച്ചു.....
			</p>
		</div>
	</div>
	<div class="card text-white bg-success m-3">
		<div class="card-header">SreeNarayana Guru More..</div>
		<div class="card-body">
		  <h4 class="card-title">SreeNarayana Guru More..</h4>
		  <p class="card-text">"മാറ്റുവിൻ ചട്ടങ്ങളെ സ്വയമല്ലെങ്കിൽ മാറ്റുമതുകളീ നിങ്ങളെത്താൻ" S N D P യോഗത്തിൻ്റെ ആദ്യ സെക്രട്ടറി മഹാകവി കവി കുമാരനാശാൻ്റെ വരികളാണ്...
			2022 ഡിസംബർ 16- ആം തീയതി ശ്രീ സുധാകരൻ സാറിൻ്റെ നേതൃത്വത്തിൽ മേലതിൽകാവ് ക്ഷേത്ര ഹാളിൽ വെച്ച് കൂടിയ മീറ്റിംഗിൽ യൂത്ത് മൂവ്മെൻ്റ് രൂപീകരിച്ചു.....
			</p>
		</div>
	</div>
</div>


