 <div class="container mt-5">
  <span style="font-weight: bold; font-size:xx-large;" class="text-success">All Members</span>
    <div fxLayout="row" fxLayoutAlign="start" *ngFor="let member of members 
    | slice: (currentPage - 1) * pageSize : currentPage * pageSize" 
    style="border: 2px solid lightgrey;" class="mb-2">
      <div  class="profile-container"
         *ngIf="member.imageUrl | async as url ; else user"> 
         <div class="row">
          <img [src]="url" class="profile-image card-img" 
          [ngStyle]="!!isAdminUser ? {'height': '114px;'}:{'height': '150px;'}"
          />
         </div>
           <div class="row" *ngIf="!!isAdminUser">
            <button class="btn btn-primary btn-small" (click)="editUser(member)">Edit</button>
           </div>
      </div>
      <ng-template #user>
        <span class="profile-container text-center">
          <div class="row">
            <i class="bi bi-person  profile-image" 
            [ngClass]="{'large-icon':!!isAdminUser,'medium-icon':!isAdminUser}"></i>
          </div>
          <div class="row" *ngIf="!!isAdminUser">
            <button class="btn btn-primary" (click)="editUser(member)">Edit</button>
          </div>
        </span>
      </ng-template>
      <div class="card-body" style="display: block !important;text-align: start;margin: 2rem;">
        <h5 class="card-title">{{ member.data.firstName }} {{ member.data.lastName }}</h5>
        <h5 class="card-title">{{ member.data.address }}</h5>
        <h3 class="card-title">{{ member.data.mobile }}</h3>
      </div>
    </div>

   
      <app-gurudeva-pagination [items]="members" [pageSize]="pageSize" 
      (pageChange)="setPage($event)"></app-gurudeva-pagination>
</div>