
<div class="container-fluid" style="padding: 0px;">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center" style="max-width: 100%;">
            <!-- <h4 class="card-title text-center">Login</h4> -->
            <img class="card-img-top img-fluid" style="width: 20%;" src="assets/images/login.png" alt="Login">
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="[]">Phone</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" 
                formControlName="email"
                required>
                <div *ngIf="loginForm.get('email')?.invalid && loginForm?.get('email')?.touched" class="error-message">
                  <div *ngIf="loginForm.get('email')?.hasError('required')" class="text-danger">Email is required.</div>
                  <div *ngIf="loginForm.get('email')?.hasError('email')" class="text-danger">Invalid email format.</div>
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="password">Password</label>
                <input type="password" class="form-control" 
                formControlName="password" id="password" placeholder="Password" required> -->
                <!-- <div *ngIf="loginForm.get('password')?.invalid || loginForm.get('password')?.touched">
                    <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required</div>
                </div> -->
                <div class="input-group">
                  <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" 
                  formControlName="password"
                   placeholder="password" required>
                   
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="togglePasswordVisibility()">
                      <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </span>
                  </div>
                  
                </div>
                <div class="text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                  <div class="text-danger" *ngIf="loginForm.get('password')?.hasError('required')">Password is required</div>
                  <div class="text-danger" *ngIf="loginForm.get('password')?.hasError('minlength')">Password must have minimum of six characters</div>
              </div>
              </div>
              <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  