<!-- <h1 class="text-center mb-5">Festival</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
    <div class="card h-100">
        <img src="https://picsum.photos/400/400?random=1" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Member Name 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card h-100">
        <img src="https://picsum.photos/400/400?random=2" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Member Name 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card h-100">
        <img src="https://picsum.photos/400/400?random=3" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Member Name 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card h-100">
        <img src="https://picsum.photos/400/400?random=4" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Member Name 4</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card h-100">
        <img src="https://picsum.photos/400/400?random=5" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Member Name 5</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>
</div> -->
<div class="container-fluid" >
<div class="jumbotron jumbotron-fluid" style="padding:2rem">
    <!-- <h1 class="display-4">Latest News and Events</h1> -->
    <span style="font-weight: bold; font-size:xx-large;" class="text-success">Latest News and Events</span>
    <p class="lead">Stay up-to-date with the latest news and events in your area.</p>
    <hr class="my-4">
    <p>Find out what's happening in your community.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div>
    <div class="row">
      <div class="col-md-4 mb-2">
        <div class="card">
          <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Article Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod orci vel ex rhoncus faucibus. In blandit ornare erat vel aliquet. </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="card">
          <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Article Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod orci vel ex rhoncus faucibus. In blandit ornare erat vel aliquet. </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
          </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="card">
          <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Article Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod orci vel ex rhoncus faucibus. In blandit ornare erat vel aliquet. </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
          </div>
      </div>
    </div>
    </div>
</div>
  